#game-board-container {
    float: left;
    margin: 15px;
    padding: 10px;
    border: 2px solid #8aB7ff;
}

#game-board {
    width: 850px;
    height: 850px;
    background-image: url(/images/board.png);
    position: relative;
}

#game-board .selected-deed {
    top: 155px;
    right: 160px;
    width: 175px;
    position: absolute;
    border: 2px solid #999;
}

#game-board .selected-deed .image {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#game-board .selected-deed .details {
    border-top: 2px solid #999;
    word-wrap: break-word;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 8px;
    padding-bottom: 14px;
    padding-left: 3px;
    padding-right: 3px;
}

#game-board .selected-deed .options {
    margin-bottom: 10px;
    text-align: center;
}

#game-board .column {
    padding: 5px;
    overflow: hidden;
    position: relative;
}

#game-board .row {
    clear: both;
}

#game-board .row.top {
    height: 102px;
}

#game-board .row.top .column {
    float: left;
    width: 59px;
    height: inherit;
    text-align: center;
}

#game-board .row.top .column.left {
    width: 104px;
}

#game-board .row.top .column.right {
    width: 104px;
}

#game-board .row.side {
    height: 59px;
}

#game-board .row.side .column.left {
    float: left;
    width: 104px;
    height: inherit;
    text-align: left;
}

#game-board .row.side .column.right {
    float: right;
    width: 104px;
    height: inherit;
    text-align: right;
}

#game-board .row.bottom {
    height: 102px;
}

#game-board .row.bottom .column {
    float: left;
    width: 59px;
    height: 82px;
    text-align: center;
    padding-top: 30px;
}

#game-board .row.bottom .column.left {
    width: 104px;
    height: 107px;
    padding-top: 5px;
    padding-right: 5px;
    text-align: left;
}

#game-board .row.bottom .column.left .jail {
    width: 70px;
    height: 70px;
    float: right;
    padding: 2px;
}

#game-board .row.bottom .column.right {
    width: 104px;
}

#game-board .property-count {
    position: absolute;
    font-weight: bold;
    color: #ffffff;
}

#game-board .row.top .property-count {
    bottom: 3px;
    left: 2px;
}

#game-board .row.bottom .property-count {
    top: 4px;
    right: 3px;
}

#game-board .column.left .property-count {
    top: 5px;
    right: 5px;
}

#game-board .column.right .property-count {
    top: 4px;
    left: 5px;
}

#game-board .property-count .house, #game-board .property-count .hotel {
    padding: 4px;
}

#game-board .property-count .house {
    background-color:rgba(0, 255, 0, 0.6);
}

#game-board .property-count .hotel {
    background-color:rgba(255, 0, 0, 0.6);
}

#game-board .row.top .property-count div {
    float: left;
    margin-left: 2px;
}

#game-board .row.bottom .property-count div {
    float: left;
    margin-left: 2px;
}

#game-board .column.left .property-count div {
    margin-bottom: 2px;
}

#game-board .column.right .property-count div {
    margin-bottom: 2px;
}

#game-board .player-token {
    margin: 5px;
}
