#game-info-spectator .panel-body {
    text-align: center;
}

#game-info-spectator select {
    margin-right: 5px;
}

#game-info-player .panel-body {
    overflow: auto;
}

#game-info-player .panel-body .balance {
    font-size: 1.1em;
    margin-bottom: 10px;
}

#game-info-player .panel-body .balance span {
    margin-left: 5px;
}

#game-info-player .panel-body .balance span.in-debt {
    color: #ff0000;
}

#game-info-player .panel-body .deeds {
    overflow: auto;
    margin-bottom: 10px;
}

#game-info-player .panel-body .deeds ul {
    float: left;
    margin: 0;
    margin-right: 5px;
    padding: 0;
    list-style-type: none;
}

#game-info-player .panel-body .deeds li:first-child {
    margin-top: 0;
}

#game-info-player .panel-body .deeds li {
    margin-top: -130px;
}

#game-info-player .panel-body .deeds li img {
    border: 1px solid #fff;
}

#game-info-player .panel-body .cards {
    clear: both;
}

#game-info-player .panel-body .cards ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    clear: both;
}

#game-info-player .panel-body .cards li {
    position: relative;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 150px;
    width: 80px;
    padding: 10px;
    border: 1px solid #fadcfa;
}

#game-info-player .panel-body .cards li.community-chest {
    background-color: #fadcfa;
}

#game-info-player .panel-body .cards li.chance {
    background-color: #ffefc8;
}

#game-info-player .panel-body .cards li button {
    position: absolute;
    bottom: 10px;
    left: 30%;
}

#game-info-player .panel-body .deed .image {
    text-align: center;
}

#game-info-player .panel-body .deed {
    float: right;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 20px;
    border-left: 2px solid #8ab7ff;
}

#game-info-player .panel-body .deed .details {
    border: 2px solid #8ab7ff;
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 20px;
}

#game-info-player .panel-body .deed .options div {
    margin-top: 5px;
}
