#game-list {
    margin-bottom: 20px;
}

#game-list .panel {
    min-height: 150px;
    min-width: 450px;
}

#game-list .create {
    float: right;
    padding-bottom: 8px;
}

#game-list .games {
    clear: both;
    padding-top: 5px;
    border-top: 2px solid #8ab7ff;
    overflow: auto;
}

#game-list .games ul {
    margin: 0;
    padding: 0;
    margin-top: 5px;
    list-style-type: none;
}

#game-list .games li {
    float: left;
    margin: 10px;
}

#game-list .games button {
    width: 150px;
    padding: 20px;
}

#game-list .games .game-name {
}

#game-list .games .hosted-by {
    margin-top: 8px;
    font-size: 0.9em;
}

#game-list .games .username {
    margin-top: 4px;
}

#game-list select {
    margin-right: 10px;
}
