
#game-info-current .panel-body {
    height: 200px;
}

#game-info-current .panel-body.waiting {
    text-align: center;
    padding: 15px;
}

#game-info-current .panel-body.roll {
    text-align: center;
    padding: 15px;
}

#game-info-current .panel-body.roll .message {
    margin-bottom: 10px;
}

#game-info-current .panel-body.roll .get-out-jail {
    margin-top: 10px;
}

#game-info-current .panel-body.playing {
    overflow: auto;
    margin-bottom: 10px;
}

#game-info-current .panel-body.playing button.complete.in-debt {
    color: #ff0000;
}

#game-info-current .panel-body.playing .result {
    float: left;
    width: 48%;
    text-align: center;
}

#game-info-current .panel-body.playing .result .dice {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#game-info-current .panel-body.playing .result .message {
    font-size: 1.1em;
    margin-bottom: 10px;
}

#game-info-current .panel-body.playing .deed {
    float: right;
    width: 48%;
    text-align: center;
}

#game-info-current .panel-body.playing .deed .image {
    margin-bottom: 10px;
}

#game-info-current .panel-body.watching {
    overflow: auto;
    margin-bottom: 10px;
}

#game-info-current .panel-body.watching .result {
    float: left;
    width: 48%;
    text-align: center;
}

#game-info-current .panel-body.watching .result .dice {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#game-info-current .panel-body.watching .result .message {
    font-size: 1.1em;
    margin-bottom: 10px;
}

#game-info-current .panel-body.watching .deed {
    float: right;
    width: 48%;
    text-align: center;
}

#game-info-current .panel-body.watching .deed .image {
    margin-bottom: 10px;
}
