#game-info-trade {
    overflow: auto;
}

#game-info-trade.panel {
    border: 2px solid #ff9741;
    border-top: 2px solid #ff7400;
}

#game-info-trade .panel-header {
    border-bottom: 1px solid #ff9741;
    background-color: #ffCa9f;
}

#game-info-trade .panel-body.trading .trade .me {
    float: left;
    width: 48%;
}

#game-info-trade .panel-body.trading .trade .me .player {
    padding-bottom: 8px;
}

#game-info-trade .panel-body.trading .trade .them {
    float: right;
    width: 48%;
    padding-left: 10px;
    border-left: 2px solid #ff9741;
}

#game-info-trade .panel-body.trading .trade .them .player .label {
    padding-bottom: 8px;
}

#game-info-trade .panel-body.trading .trade .them .player .select {
    padding-bottom: 3px;
}

#game-info-trade .panel-body.trading .trade .player {
    margin-bottom: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #ff9741;
}

#game-info-trade .panel-body.trading .trade .balance input {
    color: #999;
    width: 100px;
}

#game-info-trade .panel-body.trading .trade .balance input.modified {
    color: #0088ff;
}

#game-info-trade .panel-body.trading .trade .deeds-cards {
    padding-top: 15px;
    padding-bottom: 15px;
}

#game-info-trade .panel-body.trading .trade .deeds-cards ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    clear: both;
}

#game-info-trade .panel-body.trading .trade .deeds-cards li {
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
}

#game-info-trade .panel-body.trading .options {
    clear: both;
    text-align: right;
    padding-top: 25px;
}
