#game-board {
    width: 850px;
    height: 850px;
    background-image: url(/boards/develop/images/board.jpg);
}

#game-board .row.top .column {
    background-color:rgba(255, 0, 255, 0.3);
}

#game-board .row.top .column.left {
    background-color:rgba(255, 255, 0, 0.3);
}

#game-board .row.top .column.right {
    background-color:rgba(0, 255, 255, 0.3);
}

#game-board .row.side .column.left {
    background-color:rgba(255, 0, 0, 0.3);
}

#game-board .row.side .column.right {
    background-color:rgba(0, 255, 0, 0.3);
}

#game-board .row.bottom .column {
    background-color:rgba(255, 0, 255, 0.3);
}

#game-board .row.bottom .column.left {
    background-color:rgba(0, 0, 255, 0.3);
}

#game-board .row.bottom .column.left .jail {
    background-color:rgba(255, 255, 255, 0.6);
}

#game-board .row.bottom .column.right {
    background-color:rgba(0, 0, 0, 0.3);
}
