a[role="link"] {
    cursor: pointer;
}

a, a:hover {
    color: #000000;
    text-decoration: none;
}

button {
    background-color: #5cb85c;
    border: 1px solid #4cae4c;
    color: #fff;
    padding: 4px 8px;
    margin: 0 2px 0 2px;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
}

button[disabled="disabled"], button[disabled] {
    background-color: #91cf91;
    border: 1px solid #7fc77f;
}

select {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 2px 4px;
}

.panel {
    margin: 15px;
    border: 2px solid #8ab7ff;
    border-top: 2px solid #3984fc;
}

.panel-header {
    border-bottom: 1px solid #8ab7ff;
    background-color: #b7d3ff;
    font-weight: bold;
    padding: 3px;
}

.panel-options {
    padding: 5px;
    text-align: right;
}

.panel-body {
    padding: 10px;
}
