body {
    margin: 0;
    padding: 0;
    font-family: verdana;
    font-size: 11px;
}

footer {
    clear: both;
    padding: 4px;
    padding-right: 10px;
    margin-top: 120px;
    text-align: right;
    background-color: #b7d3ff;
}
