#game-info-players ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#game-info-players .panel-body {
    overflow: auto;
}

#game-info-players .panel-body .players li {
    padding: 3px;
    margin: 3px;
    overflow: auto;
}

#game-info-players .panel-body .players .current {
    border-left: 3px solid #ff0000;
}

#game-info-players .panel-body .player-name {
    clear: left;
    text-decoration: underline;
}

#game-info-players .panel-body .deeds {
    margin-top: 10px;
    clear: left;
}

#game-info-players .panel-body .deeds ul {
    float: left;
    margin-right: 5px;
}

#game-info-players .panel-body .deeds li:first-child {
    margin-top: 0;
}

#game-info-players .panel-body .deeds li {
    margin-top: -130px;
}

#game-info-players .panel-body .deeds li img {
    border: 1px solid #fff;
}

#game-info-players .panel-body .deed {
    float: right;
    padding-bottom: 15px;
    margin-left: 10px;
    padding-left: 30px;
    padding-right: 20px;
    border-left: 2px solid #8ab7ff;
    height: 400px;
}

#game-info-players .panel-body .deed .image {
    text-align: center;
}

#game-info-players .panel-body .deed .details {
    border: 2px solid #8ab7ff;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#game-info-players .panel-body .deed .options {
    text-align: center;
}
