#game-info-chat .messages {
    height: 180px;
    overflow: auto;
    border-bottom: 2px solid #8ab7ff;
    margin-bottom: 8px;
    padding: 3px;
    word-wrap: break-word;
}

#game-info-chat .messages ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#game-info-chat .messages li.system {
    color: #3984fc;
}

#game-info-chat .messages .username {
    font-weight: bold;
}

#game-info-chat .message input {
    margin-right: 4px;
    width: 80%;
}
